.item{
   margin-left: 1050px;
   position: fixed;
   top: 6px; 
   color: white;
}
.container{
   margin-left: 1110px;
   display: flex;
   justify-content: center;
   /* position:fixed; */
}

footer{
  margin-left: 1010px;
}